h1 {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 6vw;
    text-align: center;
    font-family: Cinzel Decorative;
    font-weight: 700;
    color: #C90024;
    text-shadow: 2px 5px 4px black;
}

p {
    color: white;
    font-size: 25px;

}

body {
    background-color: white;
    background-image: url("../Images/triforce-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 80%;
    background-position: center center;
    width:100%;
    margin: auto;
}

#main-container {
    padding: 15px;
    background-color: rgb(155, 167, 179, .6);
    text-align: center;
    width: 80%;
    margin: auto;
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    margin-bottom: 10px;
}

#win-loss {
    width: 50%;
    margin: auto;
    text-align: center;
    float: right;
}

#win-loss p {
    color:  #C90024;
    font-size: 3em;
    text-align: center;
}

button {
    background-color: rgb(155, 167, 179, .6);
    width: 23%;

}

#chest {
    background-image: url(../Images/chest.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    text-align: center;
    float: left;
    width: 50%;
    height:100%;
    margin:auto;
}

#chest p {
    color: white;
    font-size: 5em;

}

#score {
    text-align: center;
    color: white;
}
